.footer{
position: sticky;
left: 34.65%;
right: 58.33%;
top: 94.01%;
bottom: 3.91%;
}
ul{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    background-color: whitesmoke;
    padding: 3px 10px;
    cursor: pointer;
padding-left: 30px;
margin-bottom: 10px;
font-weight: 600;
font-size: 15px;
line-height: 16px;
letter-spacing: -0.01em;
color: black;
list-style: none;
}